{% extends 'base.html.twig' %}

{% block nav %}
<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">RZMonitor</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link" href="{{ path('website_new') }}">Add a new website</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('website_crawl_all') }}">Crawl all websites</a></li>
    </ul>
</nav>
{% endblock %}
{% block body %}
    <h1>Websites list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th class="hidden-sm hidden-xs">Url</th>
                <th>Generator</th>
                <th>Latency</th>
                <th class="hidden-sm hidden-xs">Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for website in websites %}
            {% set rowClasses = [
                website.humanStatus|replace({'.': '-'})
            ] %}
            {% if website.status == 0 %}
            {% set rowClasses = rowClasses|merge(['info']) %}
            {% endif %}
            {% if website.status == 20 %}
            {% set rowClasses = rowClasses|merge(['warning']) %}
            {% endif %}
            {% if website.status == 30 %}
            {% set rowClasses = rowClasses|merge(['danger']) %}
            {% endif %}
            <tr class="{{ rowClasses|join(' ') }}">
                <td>{{ website.name }}</td>
                <td class="hidden-sm hidden-xs"><a href="{{ path('website_show', { 'id': website.id }) }}">{{ website.url }}</a></td>
                <td>{{ website.generator }}</td>
                <td>{{ website.lastResponseTime|number_format(3) }} sec</td>
                <td class="hidden-sm hidden-xs">{{ website.httpCode }}</td>
                <td>
                    <div class="btn-group btn-group-xs" role="group">
                        <a class="btn btn-default" href="{{ path('website_show', { 'id': website.id }) }}">Show</a>
                        <a class="btn btn-default" href="{{ path('website_edit', { 'id': website.id }) }}">Edit</a>
                        <a class="btn btn-primary" href="{{ path('website_crawl', { 'id': website.id }) }}">Crawl</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
