{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">RZMonitor</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ path('website_new') }}">Add a new website</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('website_crawl_all') }}">Crawl all websites</a></li>
        </ul>
    </nav>
    <h1>Website list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th>Status</th>
                <th>Generator</th>
                <th>Avg response time</th>
                <th>Last response time</th>
                <th>Http code</th>
                {# <th>Crawl count</th> #}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for website in websites %}
            {% set rowClasses = [
                website.humanStatus|replace({'.': '-'})
            ] %}
            {% if website.status == 20 %}
            {% set rowClasses = rowClasses|merge(['warning']) %}
            {% endif %}
            {% if website.status == 30 %}
            {% set rowClasses = rowClasses|merge(['danger']) %}
            {% endif %}
            <tr class="{{ rowClasses|join(' ') }}">
                <td>{{ website.name }}</td>
                <td><a href="{{ path('website_show', { 'id': website.id }) }}">{{ website.url }}</a></td>
                <td>{{ website.humanStatus }}</td>
                <td>{{ website.generator }}</td>
                <td>{{ website.avgResponseTime }}</td>
                <td>{{ website.lastResponseTime|number_format(3) }} sec</td>
                <td>{{ website.httpCode }}</td>
                {# <td>{{ website.crawlCount }}</td> #}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('website_show', { 'id': website.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('website_edit', { 'id': website.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('website_crawl', { 'id': website.id }) }}">crawl</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
